.checkrow{
    outline: none;
    border: 0px;
    box-shadow: rgb(149, 147, 147) 0px 0px 2px;
    padding: 10px;
    width: 20rem;
    display: flex;
}

.checkboxcontainer{
    box-shadow: black 0px 0px 2px;
    max-height: 10rem;
    width: 20rem;
    overflow-y: scroll;
    overflow-x: hidden;
}

.checkboxlable{
    padding-left: 10px;
}

.creategroupclosebtnrow{
    width: 20rem;
    text-align: end;
}

.optionbtn{
    background: transparent;
    border: none;
    color: white;
}

@media screen and (max-width: 426px) {

    .creategroupclosebtnrow,.checkboxcontainer,.checkrow{
        width: 17rem;
    }

    .checkboxcontainer{
        overflow-y: scroll;
        overflow-x: hidden;
    }
    
}